@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    color: white;
    padding: 10px;
}

.Menu-img {
    display: flex;
    justify-content: center;
    height: 60px;
}

header img {
    float: left;
    margin: 10px;
    height: 80px;
    width: 80px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 15px;
    justify-content: center;
}

.menu-esquerda, .menu-direita {
    display: flex;
    gap: 20px;
}

.Menu-img {
    display: flex;
    justify-content: center;
    margin-top: -120px;
}

.nav-header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-header a:hover {
    color: #ff0000;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width:767px) and (max-widht:1023px) 
{
    
}

@media screen and (min-width:1024px) 
{
    
}

.price p, s{
    display: flex;
    text-align: left;
}

.titulo-pagina h1 {
    margin-top: 60px;
    margin: 30px 100px;
    font-family: 'Raleway';
}

.mercado-flex img:hover {
    filter: brightness(100%);
}


.mercado-flex img { 
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
    border: solid 2px black;
}

.mercado-flex p { 
    color: black;
    text-shadow: #000000;
    margin-bottom: 10px;
}

.mercado-flex cite {
    display: flex;
    color: red;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-acessorios h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Raleway';
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 30px; 
    justify-items: center; 
    text-align: center;
    padding: 20px;
    font-family: 'Raleway';
}

.acessorios img {
    filter: brightness(70%);
    transition: filter 0.3s ease-in-out;
    border: solid 2px black;
}

.acessorios p {
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;

}

.acessorios cite {
    display: flex;
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
}

.acessorios img:hover {
    filter: brightness(100%);
}

.acessorios-container {
    max-width: 1400px;  
    margin: 0 auto; 
}

@media screen and (min-width: 1440px) {
    .acessorios-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer {
    background-color: black; 
    color: white; 
    padding: 20px 0;
    font-size: 14px;
}

.footer .social-icons a {
    transition: 0.3s ease-in-out;
}

.footer .social-icons a:hover {
    color: #ff0000; 
}