@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #222;
    color: white;
    padding: 10px;
}


header img {
    float: left;
    margin: 10px;
    height: 80px;
    width: 80px;
}

.menu-header {
    background-color: #333;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-header a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-header a:hover {
    background-color: #555;
    color: #ff3300;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width:767px) and (max-widht:1023px) 
{
    
}

@media screen and (min-width:1024px) 
{
    
}